@import '../../styles/variables';

.game-card{
    background: $bg-secondary;
    border: 1px solid $border-color;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: $shadow-soft;
    transition: transform 0.2 ease, box-shadow 0.2 ease;

    &:hover{
        transform: translateY(-6px);
        box-shadow: $shadow-strong;
    }
}

.game-card_image{
    width: 100%;
    height: 100%;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.game-card-content{
    padding: 16px;

    h3{
        font-family: $font-title;
        font-size: $fs-md;
        margin-bottom: 8px;
    }
}

.game-card__price {
  display: block;
  margin-bottom: 16px;
  color: $color-primary;
  font-weight: $fw-semibold;
}