/* Brand */

$color-primary: #7c5cff; // gamer purple 
$color-primary-hover: #6a4df5;

/* Backgrounds */

$bg-main: #0b0b0f; 
$bg-secondary: #12121a; // cards / sections
$bg-tertiary: #1a1a24; // hover / light highlights

/* Texts */

$text-primary: #f5f5f7; // principal color text
$text-secondary: #b5b5c2;
$text-muted: #8a8a9e; // Labels / smaller info

/* States */

$color-success: #2ecc71;
$color-warning: #f1c40f;
$color-error: #e74c3c;

/* Borders */

$border-color: rgba(255, 255, 255, 0.08);

/*  Shadows */

$shadow-soft: 0 8px 24px rgba(0, 0, 0, 0.45);
$shadow-strong: 0 16px 40px rgba(0, 0, 0, 0.6);